.navbar{
    width: 100%;
    position: top;
    height: 120px;
    background-color: black;
}

.busca{
    font-family: 'Mooli', sans-serif;
    box-sizing: 200px;
    color: black;
    margin-left: 20px;
    margin-top: 50px;
    text-align: center;
}

.procurar{
    font-size: 15px !important;
    color: aliceblue !important;
}

.dog{
    width: 70px;
    height: auto;
    position: relative;
    top: 5px;
    left: 50px;    
}

.carrinho{ 
    color: aliceblue;
}

.entrar{
    color: aliceblue;
}

.entrar:hover{
    border: 1px solid white;
    padding: 15px;
}

.carrinho:hover{
    border: 1px solid white;
    padding: 15px;   
}

.boxmeio{
    display: inline;
    margin-top: -50px;
    margin-right: 10px;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Mooli', sans-serif;
}

.boxdireita{
    display: inline;
    margin-right: 100px;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Mooli', sans-serif;
}

.secao-produto{
    width: 100%;
    margin-top: 30px;
}

.botao-carrinho-compra{
    margin: 130px 100px;
}

.carrinho-compra{
    width: 100px;

}

.cartao-produtos{
    display: flex;
}

.produtos-padrao{
    display: flex;
    flex-direction: column;

}

.produtos-desconto{
    margin-left: 50px;
    margin-top: 20px;
}

.cartao-produto{
    width: 250px;
    height: 400px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    margin: 10px 20px;
    text-align: center;
}

.botao-cartao{
    margin: 130px 100px;
}

.detalhes-produto{
    padding: 10px;
}

.texto-cartao{
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Mooli', sans-serif;
}

.cartao-produto .imagem-produto img{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 10px;
}

.conteudo-cartao{
    position: absolute;
    background: rgba(0,0,0,0.3);
    top: -400px;
    left: 0;
    width: 100%;
    height: 320px;
    visibility: hidden;
    transition: .2s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao-produto:hover .conteudo-cartao{
    visibility: visible;
    top: 0;
}

.preco-produto{
    font-size: 17px;
}

.preco-produto span{
    margin-left: 20px;
}

footer{
    width: 100%;
    height: 150px;
    background-color: black;
    position: bottom;
}

.textoesquerda{
    margin-left: 200px;
    margin-top: 30px;
    font-size: 14px;
    color:aliceblue;
    width: 210px;
    height: 30px;
    font-family: 'Mooli', sans-serif;
}

.textoesquerda:hover{
    border: 1px solid white;
    padding: 15px;
}

.textomeio:hover{
    border: 1px solid white;
    padding: 10px;
}

.textomeio{
    margin-top: 30px;
    margin-left: 400px;
    font-size: 14px;
    color:aliceblue;
    width: 210px;
    height: 30px;
    font-family: 'Mooli', sans-serif;
}

.textosdireita {
    margin-top: 30px;
    margin-left: 300px;
}

#p-footer {
    font-size: 14px;
    color: aliceblue;
    font-family: 'Mooli', sans-serif;
}


#p-footer2 {
    font-size: 14px;
    color: aliceblue;
    font-family: 'Mooli', sans-serif;
    margin-top: 37px;
}

.textos{
    display: flex;
}

.secao-produtos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.banho-tosa-texto{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Mooli', sans-serif;
}

.BanhoeTosa{
    font-family: 'Mooli', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

form{
    width: 800px;  
}

form input{
    margin: 5px;
    margin-top: 15px;
}

form select{
    margin: 5px;
    margin-top: 15px;
}

#carrossel {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.botao-carrossel {
    position: absolute;
    background: none;
    border: none;
    font-size: 16px;
    top: 50%;
    color: rgba(255,255,255,.5);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0,0,0,.1);
    z-index: 3;
}

.carrossel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.botao-carrossel:hover{
    color: white;
    background-color: rgba(0,0,0,0.2);
}

.botao-carrossel {
    color: white;
    background-color: rgba(0,0,0,0.2);

}

.botao-carrossel:focus {
    outline: 1px solid black;
}

.botao-carrossel.anterior {
    left: 20px;
}

.botao-carrossel.proximo {
    right: 20px;
}

.secao-carrossel {
    margin-top: -20px;
    height: 500px;
    width: 100%;
}

.side-body {
    height: 700px;
    width: 100%;
}

#h1-side {
    text-align: center;
    margin-top: 30px;
    font-family: 'Mooli', sans-serif;
}

.p-side {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Mooli', sans-serif;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
  }

.fa:hover {
    opacity: 0.7;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.box-icones {
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: 850px;
}